@keyframes hoverRow {
   0% {
      background-color: #ddd9d9;
   }
   100% {
      background-color: #fff;
   }
}

.row {
   border: 1px solid #ccc;

   &:hover {
      background-color: #fff;
      animation: 0.5s hoverRow ease;
   }
}

.column {
   border: 1px solid #ccc;
   padding: 8px;
   overflow-wrap: break-word;
}

.column-name {
   width: 250px;
}

.column-date {
   width: 100px;
}

.column-adress {
   width: 250px;
}

.column-email {
   width: 200px;
}

.column-status {
   width: 100px;
}

@keyframes changeColor {
   0% {
      color: #000;
   }
   100% {
      color: #d17334;
   }
}

.column-icon {
   font-size: 20px;
   cursor: pointer;

   &:hover {
      color: #d17334;
      animation: 0.3s changeColor ease;
   }
}
