.coffee {
   text-align: center;
   margin: 8px;
   padding: 16px;
   background-color: #ccc;
}

.name-coffee {
   max-width: 100px;
   min-height: 50px;
   margin: auto;
}

.img {
   width: 140px;
}
