.wrapper {
   font-size: 12px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   border-bottom: 1px solid #dedddd;
   margin-bottom: 10px;
}

.span + .span {
   margin-left: 40px;
}

.spanten {
   margin-right: 70px;
   max-width: 70px;
   word-wrap: break-word;
}
