@keyframes show {
   0% {
      opacity: 0.5;
   }
   100% {
      opacity: 1;
   }
}

@mixin showTable() {
   animation: 0.5s show ease;
}

.wrapper {
   position: fixed;
   top: 50px;
   bottom: 50px;
   right: 100px;
   left: 100px;
   background: rgba(0, 0, 0, 0.3);

   @include showTable();
}

.place-table {
   display: flex;
   flex-wrap: wrap;
   background: rgba(0, 0, 0, 0.5);
   width: 90%;
   margin: 50px auto;
   height: 85%;

   overflow-y: scroll;
}
